Importing Libraries

In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine

Creating Connection and Loading Data to SQL Database

In [2]:
engine = create_engine(
    "mssql+pyodbc://localhost/vendor_project?"
    "driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

In [ ]:
for file in os.listdir('data'):
    if ".csv" in file:
        df = pd.read_csv('data/'+file)
        print(df.shape)
        ingest_db(df,file[:-4],engine)

(206529, 9)
(224489, 9)
(2372474, 16)
(12261, 9)
(12825363, 14)
(5543, 10)

In [5]:
def ingest_db(df,table_name,engine):
    df.to_sql(table_name,con=engine,if_exists='replace',index=False)

Checking Table Present In Database

In [17]:
tables = pd.read_sql_query("select table_name from information_schema.tables where table_type = 'Base Table'",engine)
tables

        table_name
0  begin_inventory
1    end_inventory
2        purchases
3  purchase_prices
4            sales
5   vendor_invoice

Checking All Table Data

In [26]:
for table in tables['table_name']:
    print('_'*50,f'{table}','_'*50)
    print('Count of Records : ',pd.read_sql(f"Select count(*) as count from {table}",engine)['count'].values[0])
    display(pd.read_sql(f"select top 5 * from {table}",engine))

__________________________________________________ begin_inventory __________________________________________________
Count of Records :  206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

__________________________________________________ end_inventory __________________________________________________
Count of Records :  224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

__________________________________________________ purchases __________________________________________________
Count of Records :  2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

__________________________________________________ purchase_prices __________________________________________________
Count of Records :  12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,19150,Esclans Whispering Angel Ros,21.99,750mL,750,2,14.66,8320,SHAW ROSS INT L IMP LTD
1,19251,Bonterra Pnt Nr,11.99,750mL,750,2,7.99,9165,ULTRA BEVERAGE COMPANY LLP
2,19394,Dom du Gr Montmirall Gigonda,29.99,750mL,750,2,19.35,4425,MARTIGNETTI COMPANIES
3,19436,Jean Luc Colombo Ruchets 10,69.99,750mL,750,2,46.35,6785,PALM BAY INTERNATIONAL INC
4,19495,Pierre Luc Bouchard Muscadet,11.99,750mL,750,2,8.05,4425,MARTIGNETTI COMPANIES

__________________________________________________ sales __________________________________________________
Count of Records :  12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

__________________________________________________ vendor_invoice __________________________________________________
Count of Records :  5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

Data Extraction from SQL Server and Exploration

In [67]:
purchases = pd.read_sql("select * from purchases",engine)
purchases.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

The purchases table contain data actual purchase data , including purchase date, Brand , Price , Quantity and Total amount(in Dollars).

In [46]:
purchase_prices = pd.read_sql("select * from purchase_prices",engine)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,19150,Esclans Whispering Angel Ros,21.99,750mL,750,2,14.66,8320,SHAW ROSS INT L IMP LTD
1,19251,Bonterra Pnt Nr,11.99,750mL,750,2,7.99,9165,ULTRA BEVERAGE COMPANY LLP
2,19394,Dom du Gr Montmirall Gigonda,29.99,750mL,750,2,19.35,4425,MARTIGNETTI COMPANIES
3,19436,Jean Luc Colombo Ruchets 10,69.99,750mL,750,2,46.35,6785,PALM BAY INTERNATIONAL INC
4,19495,Pierre Luc Bouchard Muscadet,11.99,750mL,750,2,8.05,4425,MARTIGNETTI COMPANIES
...,...,...,...,...,...,...,...,...,...
12256,18859,Mercat Brut Nature,14.99,750mL,750,2,9.67,9552,M S WALKER INC
12257,18974,Pine Ridge Napa Vlly Cab Svg,49.99,750mL,750,2,32.67,4425,MARTIGNETTI COMPANIES
12258,19060,Chateau Dalem 10 Fronsac,34.99,750mL,750,2,23.97,7749,R.P.IMPORTS INC
12259,19139,Gerard Bertrand Orgnic Chard,9.99,750mL,750,2,6.53,9552,M S WALKER INC
12260,19145,Gerard Bertrand La Viala Min,46.99,750mL,750,2,31.97,9552,M S WALKER INC

The purchases price table Describes data about brands including its Price, Size, Volume and Purchase price.

In [48]:
vendor_invoice = pd.read_sql("select * from vendor_invoice",engine)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None
...,...,...,...,...,...,...,...,...,...,...
5538,9622,WEIN BAUER INC,2025-01-06,13626,2024-12-21,2025-02-10,90,1563.00,8.60,None
5539,9625,WESTERN SPIRITS BEVERAGE CO,2025-01-10,13661,2024-12-23,2025-02-18,4617,37300.48,186.50,None
5540,3664,WILLIAM GRANT & SONS INC,2025-01-02,13643,2024-12-22,2025-02-04,9848,202815.78,932.95,None
5541,9815,WINE GROUP INC,2025-01-03,13602,2024-12-20,2025-02-08,24747,149007.56,819.54,None
5542,90058,ZORVINO VINEYARDS,2025-01-05,13574,2024-12-18,2025-02-12,437,3608.11,16.60,None

The vendor invoice table contains actual Invoice Data , Invoide date, Quantity, Total Sales and PO number.

In [49]:
sales = pd.read_sql("select * from sales",engine)
sales.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

The Sales Table Contains Whole Sales Transactions including brand purchased by vendor , total quantity sold, selling price and revenue earned.

In [50]:
begin_inventory = pd.read_sql("select * from begin_inventory",engine)
begin_inventory.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

Begin Inventory Table contains inventory data from start of the year.

In [51]:
end_inventory = pd.read_sql("select * from end_inventory",engine)
end_inventory.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

End Inventory table contains inventory data in the end of the year.

In [53]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

Creating Summery Tables For Creating Aggregate Table

In [80]:
freight_summery = pd.read_sql("select vendorNumber, sum(freight) as total_freight_charges " \
"from vendor_invoice group by vendorNumber order by vendornumber",engine)

freight_summery

     vendorNumber  total_freight_charges
0               2                  27.08
1              54                   0.48
2              60                 367.52
3             105                  62.39
4             200                   6.19
..            ...                    ...
121         98450                 856.02
122         99166                 130.09
123        172662                 178.34
124        173357                 202.50
125        201359                   0.09

[126 rows x 2 columns]

In [68]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [69]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [81]:
pd.read_sql("""select p.vendornumber,p.vendorname,p.brand,p.purchaseprice,pp.volume,pp.price as actualPrice,
sum(p.quantity) as totalPurchaseQuantity , sum(p.dollars) as totalPurchaseDollars from purchases p join purchase_prices pp
on p.brand=pp.brand where p.purchaseprice > 0 group by p.vendornumber,p.vendorname,p.brand,p.purchaseprice,pp.volume,pp.price order by totalPurchaseDollars""",engine)

,vendornumber,vendorname,brand,purchaseprice,volume,actualPrice,totalPurchaseQuantity,totalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48
3,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34
4,9815,WINE GROUP INC,8527,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682,3261197.94
10689,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080,3811251.60

In [77]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [79]:
pd.read_sql("""select 
vendorno,
brand,
sum(salesdollars) as totalSalesDollars,
sum(salesprice) as totalSalesPrice,
sum(salesQuantity) as totalSalesQunatity,
sum(ExciseTax) as totalExciseTax
from sales
group by vendorNo,brand
order by totalSalesDollars
""",engine)

,vendorno,brand,totalSalesDollars,totalSalesPrice,totalSalesQunatity,totalExciseTax
0,8004,5287,0.98,0.98,2,0.10
1,9206,2773,0.99,0.99,1,0.05
2,3252,3933,1.98,0.99,2,0.10
3,10050,3623,1.98,1.98,2,0.10
4,3924,9123,1.98,0.99,2,0.10
...,...,...,...,...,...,...
11267,3960,3545,4223107.62,545778.28,135838,249587.83
11268,3960,4261,4475972.88,420050.01,200412,368242.80
11269,17035,8068,4538120.60,461140.15,187140,343854.07
11270,4425,3405,4819073.49,561512.37,160247,294438.66
11271,1128,1233,5101919.51,672819.31,142049,260999.20

Creating Single Table with all aggregate values for Performance Optimization.

In [87]:
vendor_sales_summery = pd.read_sql("""with FreightSummery AS(
select vendorNumber, sum(freight) as totalFreightCharges
from vendor_invoice group by vendorNumber),
                                   
PurchaseSummery AS (
select p.vendornumber,p.vendorname,p.brand,p.description,p.purchaseprice,pp.volume,pp.price as actualPrice,
sum(p.quantity) as totalPurchaseQuantity , sum(p.dollars) as totalPurchaseDollars from purchases p join purchase_prices pp
on p.brand=pp.brand where p.purchaseprice > 0 group by p.vendornumber,p.vendorname,p.brand,p.description,p.purchaseprice,pp.volume,pp.price                            
),
                                   
SalesSummery AS (
select 
vendorno,
brand,
sum(salesdollars) as totalSalesDollars,
sum(salesprice) as totalSalesPrice,
sum(salesQuantity) as totalSalesQunatity,
sum(ExciseTax) as totalExciseTax
from sales
group by vendorNo,brand
)
                                   
Select  
ps.vendornumber,ps.vendorname,ps.brand,ps.description,ps.purchaseprice,ps.actualPrice,ps.volume,ps.totalPurchaseQuantity,ps.totalPurchaseDollars,
ss.totalSalesQunatity,ss.totalSalesDollars,ss.totalSalesPrice,ss.totalExciseTax,fs.totalFreightCharges
from PurchaseSummery ps
left join SalesSummery ss
ON ps.vendornumber = ss.vendorno and ps.brand = ss.brand
left join FreightSummery fs
on ps.vendornumber = fs.vendornumber
order by ps.totalPurchaseDollars desc""",engine)

In [88]:
vendor_sales_summery

,vendornumber,vendorname,brand,description,purchaseprice,actualPrice,volume,totalPurchaseQuantity,totalPurchaseDollars,totalSalesQunatity,totalSalesDollars,totalSalesPrice,totalExciseTax,totalFreightCharges
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2,2.64,5.0,15.95,10.96,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6,2.34,134.0,65.66,1.47,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2,1.48,2.0,1.98,0.99,0.10,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200,1,1.47,72.0,143.28,77.61,15.12,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1,0.71,86.0,85.14,33.66,4.46,38994.78

Data Cleaning

In [90]:
vendor_sales_summery.dtypes

vendornumber               int64
vendorname                object
brand                      int64
description               object
purchaseprice            float64
actualPrice              float64
volume                    object
totalPurchaseQuantity      int64
totalPurchaseDollars     float64
totalSalesQunatity       float64
totalSalesDollars        float64
totalSalesPrice          float64
totalExciseTax           float64
totalFreightCharges      float64
dtype: object

In [91]:
vendor_sales_summery.isna().sum()

vendornumber               0
vendorname                 0
brand                      0
description                0
purchaseprice              0
actualPrice                0
volume                     0
totalPurchaseQuantity      0
totalPurchaseDollars       0
totalSalesQunatity       178
totalSalesDollars        178
totalSalesPrice          178
totalExciseTax           178
totalFreightCharges        0
dtype: int64

Changing Data Type

In [92]:
vendor_sales_summery['volume'] = vendor_sales_summery['volume'].astype('float64')

In [93]:
vendor_sales_summery['vendorname'].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

Removing Extra Spaces

In [95]:
vendor_sales_summery['vendorname'] = vendor_sales_summery['vendorname'].str.strip()

Filling Null Values

In [98]:
vendor_sales_summery.fillna(0,inplace=True)

In [99]:
vendor_sales_summery.isnull().sum()

vendornumber             0
vendorname               0
brand                    0
description              0
purchaseprice            0
actualPrice              0
volume                   0
totalPurchaseQuantity    0
totalPurchaseDollars     0
totalSalesQunatity       0
totalSalesDollars        0
totalSalesPrice          0
totalExciseTax           0
totalFreightCharges      0
dtype: int64

Creating New Columns For Data Analysis

In [100]:
vendor_sales_summery['grossProfit'] = vendor_sales_summery['totalSalesDollars'] - vendor_sales_summery['totalPurchaseDollars']

In [101]:
vendor_sales_summery['profitMargin'] = (vendor_sales_summery['grossProfit']/vendor_sales_summery['totalSalesDollars'])*100

In [102]:
vendor_sales_summery['stockTurnover'] = vendor_sales_summery['totalSalesQunatity']/vendor_sales_summery['totalPurchaseQuantity']

In [103]:
vendor_sales_summery['salesToPurchaseRatio'] = vendor_sales_summery['totalSalesDollars']/vendor_sales_summery['totalPurchaseDollars']

In [104]:
vendor_sales_summery.head()

,vendornumber,vendorname,brand,description,purchaseprice,actualPrice,volume,totalPurchaseQuantity,totalPurchaseDollars,totalSalesQunatity,totalSalesDollars,totalSalesPrice,totalExciseTax,totalFreightCharges,grossProfit,profitMargin,stockTurnover,salesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897

In [112]:
vendor_sales_summery.dtypes

vendornumber               int64
vendorname                object
brand                      int64
description               object
purchaseprice            float64
actualPrice              float64
volume                   float64
totalPurchaseQuantity      int64
totalPurchaseDollars     float64
totalSalesQunatity         int64
totalSalesDollars        float64
totalSalesPrice          float64
totalExciseTax           float64
totalFreightCharges      float64
grossProfit              float64
profitMargin             float64
stockTurnover            float64
salesToPurchaseRatio     float64
dtype: object

In [110]:
vendor_sales_summery['totalSalesQunatity'] = vendor_sales_summery['totalSalesQunatity'].astype('int')

In [116]:
vendor_sales_summery.isnull().sum()

vendornumber             0
vendorname               0
brand                    0
description              0
purchaseprice            0
actualPrice              0
volume                   0
totalPurchaseQuantity    0
totalPurchaseDollars     0
totalSalesQunatity       0
totalSalesDollars        0
totalSalesPrice          0
totalExciseTax           0
totalFreightCharges      0
grossProfit              0
profitMargin             0
stockTurnover            0
salesToPurchaseRatio     0
dtype: int64

In [118]:
import numpy as np

In [119]:
vendor_sales_summery.replace([np.inf, -np.inf], np.nan, inplace=True)

In [120]:
vendor_sales_summery = vendor_sales_summery.fillna(0)

In [121]:
vendor_sales_summery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendornumber           10692 non-null  int64
 1   vendorname             10692 non-null  object
 2   brand                  10692 non-null  int64
 3   description            10692 non-null  object
 4   purchaseprice          10692 non-null  float64
 5   actualPrice            10692 non-null  float64
 6   volume                 10692 non-null  float64
 7   totalPurchaseQuantity  10692 non-null  int64
 8   totalPurchaseDollars   10692 non-null  float64
 9   totalSalesQunatity     10692 non-null  int64
 10  totalSalesDollars      10692 non-null  float64
 11  totalSalesPrice        10692 non-null  float64
 12  totalExciseTax         10692 non-null  float64
 13  totalFreightCharges    10692 non-null  float64
 14  grossProfit            10692 non-null  float64
 15  profitMargin           10692 non-null  float64
 16  stockTurnover          10692 non-null  float64
 17  salesToPurchaseRatio   10692 non-null  float64
dtypes: float64(12), int64(4), object(2)
memory usage: 1.5+ MB

Creating table in SQL server database.

In [122]:
vendor_sales_summery.to_sql(
    "vendor_sales_summary",
    con=engine,
    if_exists='replace',
    index=False
)

20

In [127]:
pd.read_sql("select * from vendor_sales_summary",engine)

,vendornumber,vendorname,brand,description,purchaseprice,actualPrice,volume,totalPurchaseQuantity,totalPurchaseDollars,totalSalesQunatity,totalSalesDollars,totalSalesPrice,totalExciseTax,totalFreightCharges,grossProfit,profitMargin,stockTurnover,salesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049,5101919.51,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247,4819073.49,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140,4538120.60,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412,4475972.88,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838,4223107.62,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,5,15.95,10.96,0.55,27100.41,13.31,83.448276,2.500000,6.041667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,134,65.66,1.47,7.04,50293.62,63.32,96.436186,22.333333,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,2,1.98,0.99,0.10,14069.87,0.50,25.252525,1.000000,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,72,143.28,77.61,15.12,257032.07,141.81,98.974037,72.000000,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,86,85.14,33.66,4.46,38994.78,84.43,99.166079,86.000000,119.915493

Summery :-

-> Now the new table is created with the all aggregated columns.

-> We can perform data visualization on this.

-> Also this can be used for insights and Dashboard.